<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <link href="/globalStyles.css" rel="stylesheet">
    <link href="/game/styles.css" rel="stylesheet">
    <title>Box Breaker</title>
</head>
<body>
    <div id="app">
        <div id="toggle"> &#x2B31; </div>
        <div id="game-window">
            <div id="header">
                <div class="controls">
                    <button id="pause" class="button disabled contained-primary">
                        Пауза
                    </button>
                    <button id="start" class="button contained-secondary">
                        Старт
                    </button>
                </div>
                <div id="info">
                    <div id="timer" class="display" contenteditable="false"></div>
                    <div id="score" class="display"></div>
                </div>
            </div>
            <div id="field" class="paused"></div>
        </div>
        <div id="sidebar">
            <div id="title">
                <a href="https://github.com/Lincher6/box-breaker-pure-js-" target="_blank" rel="noreferrer">
                    <img src="/assets/logo.png" alt=""/>
                </a>
            </div>
            <div id="results"></div>
            <div id="user-card">
                <div id="username">Игрок: <h3 class="primary">-</h3></div>
                <div id="hi-score">Hi-score: <h3 class="secondary">0</h3></div>
            </div>
            <form action="/logout" method="post">
                <button id="logout" class="button contained-secondary">Выйти</button>
            </form>

        </div>
    </div>

    <div id="dialog">
        <div id="card">
            <h2>GAME OVER</h2>
            <p id="total"></p>
            <form name="results">
                <div class="controls">
                    <button id="submit" type="submit" class="button outlined-primary">Сохранить</button>
                    <button id="cancel" type="button" class="button outlined-secondary">Выйти</button>
                </div>

            </form>
        </div>
    </div>

    <script src="/game/script.js" defer type="module"></script>
</body>
</html>